
AviDrugZ/obj/
AviDrugZ/bin/
AviDrugZ/FileContentIndex/
.vs/
AviDrugZ/obj/x64/Debug/net6.0-windows/Views/LoginView.g.i.cs
AviDrugZ/obj/x64/Debug/net6.0-windows/Views/LoginView.g.cs
AviDrugZ/obj/x64/Debug/net6.0-windows/Views/LoginView.baml
AviDrugZ/obj/x64/Debug/net6.0-windows/Views/AvatarSearchView.g.i.cs
AviDrugZ/obj/x64/Debug/net6.0-windows/Views/AvatarSearchView.g.cs
AviDrugZ/obj/x64/Debug/net6.0-windows/Views/AvatarSearchView.baml
AviDrugZ/obj/x64/Debug/net6.0-windows/refint/AviDrugZ.dll
AviDrugZ/obj/x64/Debug/net6.0-windows/ref/AviDrugZ.dll
AviDrugZ/obj/x64/Debug/net6.0-windows/MainWindow.g.i.cs
AviDrugZ/obj/x64/Debug/net6.0-windows/MainWindow.g.cs
AviDrugZ/obj/x64/Debug/net6.0-windows/MainWindow.baml
AviDrugZ/obj/x64/Debug/net6.0-windows/AviDrugZ_MarkupCompile.lref
AviDrugZ/obj/x64/Debug/net6.0-windows/AviDrugZ_MarkupCompile.i.lref
AviDrugZ/obj/x64/Debug/net6.0-windows/AviDrugZ_MarkupCompile.i.cache
AviDrugZ/obj/x64/Debug/net6.0-windows/AviDrugZ_MarkupCompile.cache
AviDrugZ/obj/x64/Debug/net6.0-windows/AviDrugZ.pdb
AviDrugZ/obj/x64/Debug/net6.0-windows/AviDrugZ.g.resources
AviDrugZ/obj/x64/Debug/net6.0-windows/AviDrugZ.dll
AviDrugZ/obj/x64/Debug/net6.0-windows/AviDrugZ.csproj.FileListAbsolute.txt
AviDrugZ/obj/x64/Debug/net6.0-windows/AviDrugZ.csproj.CoreCompileInputs.cache
AviDrugZ/obj/x64/Debug/net6.0-windows/AviDrugZ.csproj.AssemblyReference.cache
AviDrugZ/obj/x64/Debug/net6.0-windows/AviDrugZ.assets.cache
AviDrugZ/obj/x64/Debug/net6.0-windows/apphost.exe
AviDrugZ/obj/x64/Debug/net6.0-windows/App.g.i.cs
AviDrugZ/obj/x64/Debug/net6.0-windows/App.g.cs
