
AviDrugZ/obj/*
AviDrugZ/bin/*
AviDrugZ/FileContentIndex/*
.vs/*
AviDrugZ/Properties/PublishProfiles/FolderProfile.pubxml.user
.vs/ProjectEvaluation/avidrugz.projects.v5.1
.vs/AviDrugZ/DesignTimeBuild/.dtbcache.v2
